<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!--
            设置 compilation debug="true" 可将调试符号
            插入已编译的页面中。
            但由于这会影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
          通过 <authentication> 节可以配置
          安全身份验证模式，ASP.NET 
          使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
           如果在执行请求的过程中出现未处理的错误，
           则通过 <customErrors> 节
           可以配置相应的处理步骤。具体而言，
           开发人员通过该节可配置要显示的 html 错误页，
           以代替错误堆栈跟踪。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
